# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/josec-0.1.pc
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/src/.deps/.dirstamp
/src/.deps/libjosec_0.1_la-atecc108_command.Plo
/src/.deps/libjosec_0.1_la-atsha204_command.Plo
/src/.deps/libjosec_0.1_la-base64url.Plo
/src/.deps/libjosec_0.1_la-command_adaptation.Plo
/src/.deps/libjosec_0.1_la-command_util.Plo
/src/.deps/libjosec_0.1_la-configfile.Plo
/src/.deps/libjosec_0.1_la-crc.Plo
/src/.deps/libjosec_0.1_la-ecdsa.Plo
/src/.deps/libjosec_0.1_la-hash.Plo
/src/.deps/libjosec_0.1_la-i2c.Plo
/src/.deps/libjosec_0.1_la-jwt.Plo
/src/.deps/libjosec_0.1_la-log.Plo
/src/.deps/libjosec_0.1_la-util.Plo
/src/.dirstamp
/test/.deps/check_libjosec-test_hmac.Po
/test/.deps/check_libjosec-test_jwt.Po
/test/.libs/check_libjosec
/test/.libs/lt-check_libjosec
/test/check_libjosec.trs
/test/Makefile
/test/Makefile.in
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/.libs/
/m4/
/lib/
/test/check_libjosec
/INSTALL
/snippet/
/test/jwtunwrap
/test/jwtwrap
/test/.deps/
/test/.libs/
/TAGS
/test/TAGS
/test/handshake
/josec-0.2.pc
/cov-int/
/josec.tgz
/josec-0.3.pc
